<!-- remember using mainGraphCtrl.VARNAME -->
<div class="col-md-12">
    <div class="row">
        <graph-plot></graph-plot>
    </div>
    <div class="row">
        <div class="row">
            <div class="col-md-6">
                <input class="form-control" ng-model="mainGraphCtrl.newPoint" />
            </div>
            <div class="col-md-6">
                <button class="btn btn-success" ng-click="mainGraphCtrl.addPoint()">Send</button>
            </div>
        </div>
    </div>
</div>
